* {
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.hlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.links {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    align-items: center;
}

img {
    width: 200px;
}

.hero {
    background-color: #1f2937;
    margin-top: 0;
}


